<main class="mdl-layout__content">
    <div {% if site.data.toolbar.fixed == true %}class="mdc-toolbar-fixed-adjust"{% endif %}>
        <div class="mdc-layout-grid" id="main-class">
            <div class="mdc-layout-grid__inner">
                {% assign about = site.data.about %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{% if about and page.about != false %}8{% else %}12{% endif %}" id="main-card">
                    {% if page.card == false %}
                        {{ content }}
                        {% else %}
                        <div class="page-card">
                            <div class="mdc-card">
                                <section class="mdc-card__supporting-text">
                                    {{ content }}
                                </section>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if about and page.about != false %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet" id="right-card">
                    <div class="mdc-card">
                        <div class="mdc-card__horizontal-block">
                            <section class="mdc-card__primary">
                                <h1 class="mdc-card__title mdc-card__title--large">{{ about.title | default: site.title }}</h1>
                                <h2 class="mdc-card__subtitle">
                                    {{ about.sub }}
                                </h2>
                            </section>
                            {% if about.img %}<img class="mdc-card__media-item" src="{{ about.img | relative_url }}">{% endif %}
                        </div>
                        <section class="mdc-card__supporting-text">
                            {{ about.support }}
                        </section>
                        <section class="mdc-card__actions">
                            {% for button in about.button %}
                            <a href="{{ button.url | relative_url }}"><button class="mdc-button mdc-button--compact mdc-card__action">{{ button.title }}</button></a>
                            {% endfor %}
                         </section>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</main>