{% if site.data.drawer %}
<aside class="mdc-{{ site.data.drawer.type }}-drawer">
    <nav class="mdc-{{ site.data.drawer.type }}-drawer__drawer">
        <header class="mdc-{{ site.data.drawer.type }}-drawer__header">
            <div class="mdc-{{ site.data.drawer.type }}-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                {{ site.data.drawer.title | default: site.title  }}
            </div>
        </header>
        <nav class="mdc-{{ site.data.drawer.type }}-drawer__content mdc-list-group">
            <div class="mdc-list">
                {% for drawer in site.data.drawer.subpages %}
                    {% if drawer.url %}
                        <a class="mdc-list-item{% if page.url == drawer.url %} mdc-{{ site.data.drawer.type }}-drawer--selected{% endif %}"
                        href="{% if drawer.ext == true %}{{ drawer.url }}{% else %}{{ drawer.url | relative_url }}{% endif %}">
                            {% if drawer.icon %}
                                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">{{ drawer.icon }}</i>
                            {% endif %}
                            {{ drawer.title }}
                        </a>
                        {% elsif drawer.text %}
                            <div class="drawer-text">{{ drawer.text | markdownify }}</div>
                        {% else %}
                            <p class="mdc-list-item pitem">
                                {% if drawer.icon %}
                                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">{{ drawer.icon }}</i>
                                {% endif %}
                                {{ drawer.title }}
                            </p>
                    {% endif %}
                    {% if drawer.break == true %}
                        <hr class="mdc-list-divider">
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
    </nav>
</aside>
{% endif %}