html {
    background-color: #fefefe;
    height: 100%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #454545;
    margin: 0;
}

a {
    text-decoration: none;
	color: var(--mdc-theme-primary);
	font-weight: 500;
}

img {
    max-width: 100%;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.mdc-top-app-bar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.mdc-top-app-bar__title a {
    text-decoration: none;
    color: #fff;
}

.inner-card {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.mdc_card {
    margin-bottom: 1.25rem;
}

.mdc-card__primary {
    padding: 1rem;
    margin: auto 0;
}

.mdc-card__supporting-text {
    padding: 0 16px;
}

.about-img {
    max-height: 128px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 50%;
}

.card-title {
    font-weight: 500;
    color: #333;
}

.card-gray {
    color: rgba(0, 0, 0, 0.5);
}

#main-card,
#right-card {
    width: 100%;
}

.drawer-text {
    padding: 0 16px;
    margin: 0;
    font-size: .8rem;
}

.drawer-text * {
    margin: 0;
}

#main-class {
    max-width: 1024px;
    padding-top: 5rem;
}

.mdl-layout__content {
    width: 100%;
}

.mdc-layout-grid__cell {
    width: 33%;
    margin: 0 auto;
}