html {
    height: 100%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
	color: var(--mdc-theme-primary);
	font-weight: 500;
}

img {
    max-width: 100%;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

#main-card,
#right-card {
    width: 100%;
}

.drawer-text {
    padding: 0 16px;
    margin: 0;
    font-size: .8rem;
    letter-spacing: .04em;
}

.drawer-text * {
    margin: 0;
}

.pitem {
    margin: 0;
}

#main-class {
    max-width: 1000px;
    padding-top: 12px;
}

.mdl-layout__content {
    width: 100%;
}

#toolbar-tab-bar {
    padding-right: 12px;
}

[dir="rtl"] #toolbar-tab-bar {
    padding-left: 12px;
}

.mdc-toolbar__title a {
    text-decoration: none;
    color: #fff;
}

.mdc-layout-grid__cell {
    width: 33%;
    margin: 0 auto;
}